[Unit]
Description=Openstack Barbican worker daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/barbican-keystone-listener
User=barbican
Group=barbican
Restart=on-failure

[Install]
WantedBy=multi-user.target
